
h2{
    text-align: center;
    color: goldenrod;
}
.fondo{
    background: url('../IMG/fondo2.jpg') #000;
    height: auto;
    
    
}
.fondo:before  { 
    content: "";
    width: 100%;
    height: 111.5%;
    position: absolute;
    background-color: black;
    background-repeat: round;
    opacity: 0.5;
}
.fondo h1, h2, h3, h3, h5, article, nav, tr, form, label {
    position: relative;
}

